@import '../../../assets/styles/global.scss';

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.about-content-description{
    margin-top: 25px;
    color: $secundary;
}

.about-content-skills {
    display: flex;
    flex-direction: column;
    gap: 20px; // Espaço entre cada grupo de habilidades
}

.skill-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; // Espaço entre os ícones das habilidades

    p {
        width: 100%; // Faz o título ocupar a largura total, forçando os ícones a começarem em uma nova linha
        margin: 10px 0; // Espaço acima e abaixo do título da categoria
        color: $secundary;
    }

    img {
        height: 40px; // Altura dos ícones, ajuste conforme necessário
        width: auto; // Mantém a proporção dos ícones
    }
}

/* Estilos adicionais para garantir responsividade */
@media screen and (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr; /* Empilha os itens em dispositivos menores */
        grid-gap: 5rem; /* Reduz o espaço entre os itens para telas menores */
    }
}

@media screen and (max-width: 480px) {
    .about-content {
        grid-gap: 2rem; /* Reduz ainda mais o espaço entre os itens para telas de celular */
    }
    
    .about-content-main, .btn {
        font-size: 14px; /* Reduz o tamanho da fonte para telas de celular */
    }
    
    .btn {
        padding: 8px 16px; /* Ajusta o padding dos botões para telas de celular */
    }
    }

.about-content-main{
    margin-top: 15px;
    line-height: 1.7;
    font-size: 1.1rem;
}
.btn {
    color: $secundary;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $secundary;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin: 10px;
    margin-top: 30px;
  }
  
  .btn:hover {
    color: purple;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }