<section id="about-me" class="py-20 bg-primary">
    <div class="max-w-7xl mx-auto w-[92%]">
        <div class="grid md:grid-cols-2 gap-10 md:gap-20">
            <div class="mt-4 leading-relaxed text-lg">
                <p class="mt-6 text-secondary">
                    I'm a Full Stack Web Developer passionate about building and maintaining both the front-end and back-end of websites and web applications, ensuring the success and smooth functioning of the entire product. 
                    Check out some of my work in the Projects section. I'm open to job opportunities where I can contribute, learn, and grow. 
                    If you have a good opportunity that matches my skills and experience, please don't hesitate to contact me.
                </p>
                <a href="https://drive.usercontent.google.com/u/0/uc?id=1M-zr29R5NAdRkpmLJesRIXQT-3H-nWWH&export=download" 
                   download="resume.pdf" 
                   class="inline-block text-secondary uppercase border-2 border-secondary px-5 py-2.5 text-base font-bold bg-transparent mt-7 mr-2.5 transition-all duration-500 hover:text-purple-600 hover:border-secondary relative overflow-hidden">
                    Download Resume
                </a>
                <button class="inline-block text-secondary uppercase border-2 border-secondary px-5 py-2.5 text-base font-bold bg-transparent mt-7 mr-2.5 transition-all duration-500 hover:text-purple-600 hover:border-secondary relative overflow-hidden">
                    Contact Me
                </button>
            </div>
            <div class="flex flex-col gap-5">
                <div class="flex flex-wrap items-center gap-2.5 group">
                    <p class="w-full my-2.5 text-secondary">Front-End</p>
                    <img src="https://skillicons.dev/icons?i=angular,react,html,css,sass,js,ts,jest,reactivex" 
                         class="h-10 w-auto transition-transform duration-300 group-hover:-translate-y-1" />
                </div>
                <div class="flex flex-wrap items-center gap-2.5 group">
                    <p class="w-full my-2.5 text-secondary">Back-End</p>
                    <img src="https://skillicons.dev/icons?i=java,cs,dotnet,spring,mysql,nodejs,py,mongodb" 
                         class="h-10 w-auto transition-transform duration-300 group-hover:-translate-y-1" />
                </div>
                <div class="flex flex-wrap items-center gap-2.5 group">
                    <p class="w-full my-2.5 text-secondary">Other Skills</p>
                    <img src="https://skillicons.dev/icons?i=git,docker,githubactions,aws,vercel" 
                         class="h-10 w-auto transition-transform duration-300 group-hover:-translate-y-1" />
                </div>
            </div>
        </div>
    </div>
</section>
