<section id="about-me" class="about">
    <div class="main-container">
        <div class="about-content">
            <div class="about-content-main">
                <p class="about-content-description">
                    I'm a Full Stack Web Developer passionate about building and maintaining both the front-end and back-end of websites and web applications, ensuring the success and smooth functioning of the entire product. 
                    Check out some of my work in the Projects section. I'm open to job opportunities where I can contribute, learn, and grow. 
                    If you have a good opportunity that matches my skills and experience, please don't hesitate to contact me.
                </p>
                <a href="https://drive.usercontent.google.com/u/0/uc?id=1M-zr29R5NAdRkpmLJesRIXQT-3H-nWWH&export=download" download="testeeeeeeee.pdf" class="btn">Download Resume</a>
                <button class="btn">Contact Me</button>
            </div>
            <div class="about-content-skills">
                <div class="skill-group">
                    <p>Front-End</p>
                    <img src="https://skillicons.dev/icons?i=angular,react,html,css,sass,js,ts,jest,reactivex" />
                </div>
                <div class="skill-group">
                    <p>Back-End</p>
                    <img src="https://skillicons.dev/icons?i=java,cs,dotnet,spring,mysql,nodejs,py,mongodb" />
                </div>
                <div class="skill-group">
                    <p>Other Skills</p>
                    <img src="https://skillicons.dev/icons?i=git,docker,githubactions,aws,vercel" />
                </div>
            </div>
        </div>
    </div>
</section>
