<header class="flex flex-col md:flex-row justify-between items-center p-4 bg-primary">
    <div class="flex items-center gap-3 text-2xl font-bold text-secondary">
      <img src="../../../assets/renanLogo.png" class="w-11 h-11 rounded-full object-cover" />
      Renan Cruz
    </div>
    <nav class="flex flex-col md:flex-row gap-4 mt-4 md:mt-0">
      <a href="javascript:void(0)" 
         (click)="scrollToSection('home')" 
         class="text-secondary hover:text-secondary/70 cursor-pointer transition-colors">
         Home
      </a>
      <a href="javascript:void(0)" 
         (click)="scrollToSection('about-me')" 
         class="text-secondary hover:text-secondary/70 cursor-pointer transition-colors">
         About Me
      </a>
      <a href="javascript:void(0)" 
         (click)="scrollToSection('exp')" 
         class="text-secondary hover:text-secondary/70 cursor-pointer transition-colors">
         Experience
      </a>
      <a href="javascript:void(0)" 
         (click)="scrollToSection('projects')" 
         class="text-secondary hover:text-secondary/70 cursor-pointer transition-colors">
         Projects
      </a>
    </nav>
  </header>