// Animação de digitação com Tailwind
@keyframes typing {
    from { width: 0; }
    to { width: 18em; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: theme('colors.primary'); }
}

.animate-typing {
    animation: typing 3s steps(40, end) forwards, blink-caret .75s step-end infinite;
}


