<section class="about">
    <h1 class="main-text">HELLO, MY NAME IS RENAN CRUZ</h1>
    <p class="secundary-text">A Creative Frontend Developer crafting and optimizing Websites and Web Applications to enhance user experience and drive product success.</p>
    <div class="socials">
        <a href="https://github.com/RenanCruz7" class="social-icon-link">
            <img
              src="../../../assets/github-ico.png"
              alt="icon"
              class="social-icon github-icon"
            />
          </a>
            <a href="https://www.linkedin.com/in/renancruz7/" class="social-icon-link">
                <img
                src="../../../assets/linkedin-ico.png"
                alt="icon"
                class="social-icon linkedin-icon"
                />
            </a>
    </div>
</section>
