<div id="projects" class="container">
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">SpringBoot Blog </h2>
            <p class="tech-used">Tecnologies: Java, SpringBoot, MySQL</p>
            <a href="https://github.com/RenanCruz7/Spring-Boot-Blog" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">Microserviços em Java</h2>
            <p class="tech-used">Tecnologies: Java,SpringBoot, Eureka Server, Eureka Client</p>
            <a href="https://github.com/RenanCruz7/Microservico-em-Java" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">Football Manager API</h2>
            <p class="tech-used">Tecnologies: Java, SpringBoot, MySQL</p>
            <a href="https://github.com/RenanCruz7/Football-Manager-API" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">Acessibilidade Angular</h2>
            <p class="tech-used">Tecnologies: Angular</p>
            <a href="https://github.com/RenanCruz7/Acessibilidade-angular" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">Testes em Angular</h2>
            <p class="tech-used">Tecnologies: Angular, Jasmine, Karma</p>
            <a href="https://github.com/RenanCruz7/testes-angular" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2 class="project-title">Angular Rxjs</h2>
            <p class="tech-used">Tecnologies: Angular, Rxjs</p>
            <a href="https://github.com/RenanCruz7/angular-rxjs" class="github-link" target="_blank">GitHub</a>
        </div>
    </div>

</div>