<h2 class="exp-text">Experience</h2>
<div id="exp" class="timeline">
    <div class="entries">
        <div class="entry">
            <div class="title">2023</div>
            <div class="body">
                <p>Started ate Servimex Logistica as a intern working with Python, Flask, PHP and SQL Server to create and reformulate the Servimex Online Website</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">2024</div>
            <div class="body">
                <p>I got promoted and started working on board goals using Python, Flask and SQL Server</p>
                <p>*Container Tracking Project Completed</p>
                <p>*Siscomex Debt Forecast - In Progress</p>
            </div>
        </div>
    </div>
</div>
